.ranicek-dialog {
  @extend .overlay;

  transition: transform 300ms, opacity 300ms, background-color 400ms;
  transform: scale3d(0, 0, 1);

  opacity: 0;

  display: flex;
  flex-direction: column;

  &.active {
    background: #ebe7d9 url("/images/ranicek-bg.svg") center top  no-repeat;
    //background-size: 5 * $module;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  > main {
    padding: 0;

    > header {
      display: flex;
      justify-content: flex-end;
    }

    > section {
      display: flex;
      justify-content: center;

      margin-top: 3.5 * $module;

      > ol {
        display: flex;
        flex-direction: column;
        flex: 0 1 10 * $module;
      }
    }
  }


}