.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-background-button;
  color: rgba(white, 0.4);
  cursor: pointer;
  font-size: 32px;
  height: 2.5 * $module;

  transition: background-color 400ms, box-shadow 100ms;

  outline: 0 none;
  -webkit-tap-highlight-color: rgba(black, 0);

  text-decoration: none;

  &:hover {
    background-color: #4F1B85;
  }

  &.clicked {
    box-shadow: 0 0 0 0.5 * $module rgba(black, 0.5) inset;
  }

  span.progress {
    display: none;
  }

  &.progress {
    background-color: #ccc;
    transition: background-color 100ms;

    span {
      display: none;
    }
    span.progress {
      display: flex;
    }
  }
}

form .button {
  border-radius: 0.125 * $module;
}

button {
  @extend .button;

  border: 0 none;
  width: 100%;
}

.scale-button {
  transition: transform 100ms ease-in-out, opacity 100ms ease-in;

  &:hover {
    background-color: $color-background;
  }

  &.clicked {
    box-shadow: 0 0 rgba(black, 0);
    transform: scale(.9);
  }
}


.close-button {
  padding: 0;

  > .button {
    background-color: #999;
    width: 3 * $module;

    &:hover {
      background-color: #6C6C6C;
    }

    > span {
      transform: rotate(45deg);
    }
  }
}