.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-background-button;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  color: rgba(white, 0.8);
  cursor: pointer;
  font-size: 12px;
  height: 2.5 * $module;

  transition: background-color 400ms, box-shadow 100ms;

  outline: 0;
  -webkit-tap-highlight-color: rgba(black, 0);

  text-decoration: none;
  user-select: none;

  &:hover {
    background-color: #48177a;
  }

  &.clicked {
    box-shadow: 0 0 0 0.5 * $module rgba(black, 0.5) inset;
  }
}

form .button {

}

button {
  @extend .button;

  border: 0 none;
  width: 100%;

  &.clicked {
    @extend .button.clicked;
  }
}

.scale-button {
  transition: transform 100ms ease-in-out, opacity 100ms ease-in;

  &:hover {
    background-color: $color-background;
  }

  &.clicked {
    box-shadow: 0 0 rgba(black, 0);
    transform: scale(.9);
  }
}

.close-button {
  margin: 0;

  > .button {
    height: 2.5 * $module;
    width: 2.5 * $module;
  }
}

.submit.button, button[type=submit] {
  height: 2.5 * $module;
  width: 100%;

  &.progress {
    @extend .button.progress;
    background-position: center;
  }
}

.secondary.button {
  background-color: $color-background-button-secondary;

  &:hover {
    background-color: $color-background-button-secondary-active;
  }
}

.light.button {
  background-color: transparent;
  color: #777;

  &:hover {
    background-color: #e0e0e0;
  }
}

.translucent.button {
  background-color: rgba(#666, 0.5);

  &:hover {
    background-color: rgba(#555, 0.75);
  }
}

.disabled.button {
  background-color: rgba(#666, 0.1);
  cursor: default;

  &:hover {
    background-color: rgba(#666, 0.1);
  }
  &.clicked {
    box-shadow: none;
  }
}

.menu-button .button {
  background-image: url("/images/stuha-logo-lines.svg");
}

form.show-errors .button, .button.error {
  background-image: url("/images/reload.svg");
}

.add-button .button {
  background-image: url("/images/plus.svg");
  &.light {
    background-image: url("/images/plus-message-dark.svg");
  }
}

.conversation-member-add .button span:first-child {
  background-image: url("/images/conversation-member-add.svg");
}

.conversation-member-add.form .button span:first-child {
  background-image: url("/images/ex-dark.svg");
}

.close-button .button {
  background-image: url("/images/ex.svg");
}

.submit.button, button[type=submit] {
  background-image: url("/images/submit.svg");
  background-size: auto 100%;

  &.error {
    @extend .button.error;
    background-color: $color-background-error;
  }
}

.conversation .button {
  background-image: url("/images/conversation-settings.svg");
}

.reload.button {
  background-image: url("/images/reload.svg");
  border-radius: 50%;
  height: 2.5 * $module;
  width: 2.5 * $module;
}

.user-settings.button {
  background-image: url("/images/user-settings.svg");
}

.notification {

  &.disabled {
    display: none;
  }

  .button span:first-child {
    background-image: url("/images/notifications.svg");
  }
}

.previous-button .button {

}

.next-button .button {

}

.load-more .button {
  background-image: url("/images/load-more.svg");
}

.button.progress {
  background: $color-background-message url("/images/progress.svg") no-repeat center;
  cursor: inherit;

  &:hover {
    background-color: $color-background-message;
  }

  span {
    visibility: hidden;
  }
}

ul.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  li {
    flex: 1 0 4.5 * $module;
    transition: box-shadow 100ms, background-color 400ms, flex 300ms $animation-curve;

    > a {
      height: auto;

      display: flex;
      flex-direction: column;

      background: transparent;

      padding: 3 * $module-quarter $module-half $module-quarter;

      transition: background-color 300ms;

      &:hover {
        background: rgba(#000, 0.02);
      }

      &.active {
        background-color: #dcdcdc;

        > span {
          color: #333;
        }
      }

      &.clicked {
        box-shadow: 0 0 0 0 transparent;
        background-color: #c0c0c0;
      }

      > span:first-child {
        flex: 0 0 2.5 * $module;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 2.5 * $module;
      }
      > span:last-child {
        flex: 1 0 1.5 * $module;

        display: flex;
        align-items: center;

        line-height: 3 * $module-quarter;

        color: #777;
        font-size: 12px;
        text-align: center;
      }
    }

    > form {
      display: flex;
      justify-content: center;

      position: absolute;
      left: 0;
      width: calc(100% - #{$module});

      padding: $module-half;

      background-color: #e3e3e3;
      box-shadow: 0 2px $module-quarter #ccc;

      transform: scale3d(0, 0, 1);
      opacity: 0;
      transform-origin: top left;
      transition: transform 200ms $animation-curve, opacity 200ms;

      z-index: 1;

      > p {
        display: flex;

        flex: 1 0 %75;
        //height: 1.75 * $module;
        margin: 0;

        background-color: white;

        input {
          width: calc(100% - #{$module});
        }
      }
      > a.submit {
        flex: 0 0 2 * $module;
        height: 2 * $module;
      }
    }

    &.form {
      //flex: 1 1 100%;
      background-color: rgba(#000, 0.02);
      //
      //a span:first-child {
      //  background-size: 50%;
      //  background-position: top;
      //}

      > form {
        opacity: 1;
        transform: scale3d(1, 1, 1);

      }
    }
  }

  &.conversations {
    li {
      > a > span:first-child {
        border-radius: 50%;
        background-image: url("/images/conversation.svg");
        position: relative;

        &.add {
          background-image: url("/images/plus-dark.svg"), url("/images/conversation.svg");
        }
      }

      &.form > a > span:first-child.add {
        background-image: url("/images/ex-dark.svg"), url("/images/conversation.svg");
      }
    }
  }
}