.overlay {
  @extend .overflow-auto;

  background-color: #e6e6e6;

  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30000;

  > header {
    display: flex;
    justify-content: flex-end;
  }

  > main {
    padding: $module 0 2.5 * $module;
  }

  span.button {
    @extend .scale-button;

    background-color: #666;
    border-radius: 0.125 * $module;
    color: $color-background;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: $module;

    height: 5 * $module;
    width: 5 * $module;


    font-size: $base-font-size;

    &:hover {
      background-color: #606060;
    }


  }

  &.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}