form {
  margin: 0;
  padding: 0;

  > section {
    border-radius: .17rem;

    margin: 0.25 * $module;
    padding: 0.25 * $module;

    transition: box-shadow 200ms;

    &.error {
      box-shadow: 0 0 $module rgba(#c33, 0.33) inset;

      &.blink {
        box-shadow: 0 0 $module rgba(#c33, 0.03) inset;
      }
    }

    > .error {
      color: #c33;
      font-size: 13px;
      padding: 0.25 * $module;
    }
  }

  > p {
    margin: 0.5 * $module;
  }

  .error-message {
    opacity: 0;
    max-height: 0;
    margin: 0 0.5 * $module;
    padding: 0.5 * $module;
    padding-left: 2.5 * $module;

    background-color: $color-background-message;
    border-radius: 0.125 * $module;

    transition: opacity 300ms ease-in, max-height 300ms ease-out, margin 300ms ease-in-out;
  }


  &.show-errors .error-message {
    opacity: 1;
    max-height: 200px;
    margin-bottom: 0.5 * $module;
  }

}

input {
  background-color: white;
  border: 0 none;
  border-radius: 0.125 * $module;
  display: block;
  outline: 0 none;
  padding: 0.5 * $module;

  font-family: $base-font-family;
  font-size: $base-font-size;
}

textarea {
  @extend input;

  min-height: 1.5 * $module;
  overflow-x: auto;
}
