form {
  margin: 0;
  padding: 0;

  > section {
    border-radius: 1.25 * $module;
    display: flex;
    flex-direction: column;

    margin: $module-half 0;
    padding: 0 $module-half;
  }

  > p {
    margin: $module-half;

    position: relative;

    @media (max-width: $small-screen-threshold) {
      margin: 0.5 * $module;
    }
  }

  p {
    span {
      display: flex;

      &.error {
        display: none;

        background-color: $color-background-message;
        border-radius: $module 0 $module $module;
        padding: $module-half 3 * $module-quarter;
        margin-top: 0.5 * $module-quarter;
      }
    }
  }

  .error {
    text-align: right;

    span.error {
      display: inline-block;
    }
  }

  section.error > p {
    text-align: right;
    span.error {
      border-radius: $module 0 $module $module;
    }
  }

  .error-message {
    opacity: 0;
    max-height: 0;
    margin: 0 $module-half;
    padding: $module-half 0.75 * $module;

    background-color: $color-background-message;
    border-radius: $module-half 0 $module-half $module-half;

    transition: opacity 300ms ease-in, max-height 300ms ease-out, margin 300ms ease-in-out;
  }

  &.show-errors .error-message {
    opacity: 1;
    max-height: 200px;
    margin-bottom: $module-half;
  }

}

input {
  background-color: white;
  border: 0 none;
  border-radius: 0;
  display: block;
  outline: 0 none;
  padding: $module-half;

  font-family: $base-font-family;
  font-size: $base-font-size;

  &[type=checkbox] {
    display: inline-block;
  }
}

textarea {
  @extend input;

  border-radius: $border-radius-message 0 $border-radius-message $border-radius-message;
  padding: $module-half 0.75 * $module;

  line-height: 1.4rem;

  transition: height 200ms;

  overflow-x: auto;
  overflow-y: hidden;

  resize: none;
}

.button-row {
  display: flex;
  justify-content: center;
}

label {
  display: flex;

  color: #666;
  font-size: 12px;

  > input[type=checkbox] {
    opacity: 0;
    position: absolute;
  }

  > span {
    vertical-align: middle;

    &.check-box {
      display: inline-block;

      background-color: $color-background-button-secondary;

      background-position: left center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-image: url("/images/check.svg");

      border-radius: 10px;
      cursor: pointer;
      height: 20px;
      margin-right: $module-half;
      width: 36px;

      transition: background-color 200ms;

      &.active {
        background-color: $color-background-button-secondary-active;


        > span {
          transform: translate(16px, 0);


        }
      }

      > span {
        display: inline-block;

        background-color: white;

        border-radius: 50%;
        height: 16px;
        margin: 2px;
        width: 16px;

        transition: transform 300ms $animation-curve;
      }
    }
  }
}



