form {
  margin: 0;
  padding: 0;

  > section {
    border-radius: 1.25 * $module;
    display: flex;
    flex-direction: column;

    margin: $module-half 0;
    padding: 0 $module-half;
  }

  > p {
    margin: $module-half;

    position: relative;

    @media (max-width: $small-screen-threshold) {
      margin: 0.5 * $module;
    }
  }

  p {
    span {
      display: flex;

      &.error {
        display: none;

        background-color: $color-background-message;
        border-radius: 0 $module $module $module;
        font-size: 13px;
        padding: $module-half 3 * $module-quarter;
        margin-top: 0.5 * $module-quarter;
      }
    }
  }

  .error {
    span.error {
      display: inline-block;
    }
  }

  section.error > p {
    text-align: right;
    span.error {
      border-radius: $module 0 $module $module;
    }
  }

  .error-message {
    opacity: 0;
    max-height: 0;
    margin: 0 $module-half;
    padding: $module-half 0.75 * $module;

    background-color: $color-background-message;
    border-radius: 0 $module-half $module-half $module-half;
    //font-size: 13px;

    transition: opacity 300ms ease-in, max-height 300ms ease-out, margin 300ms ease-in-out;
  }

  &.show-errors .error-message {
    opacity: 1;
    max-height: 200px;
    margin-bottom: $module-half;
  }

}

input {
  background-color: white;
  border: 0 none;
  border-radius: 0;
  display: block;
  outline: 0 none;
  padding: $module-half;

  font-family: $base-font-family;
  font-size: $base-font-size;

  &[type=checkbox] {
    display: inline-block;
  }
}

textarea {
  @extend input;

  border-radius: $border-radius-message 0 $border-radius-message $border-radius-message;
  padding: $module-half 0.75 * $module;

  line-height: 1.4rem;

  transition: height 200ms;

  overflow-x: auto;
  overflow-y: hidden;

  resize: none;
}

.button-row {
  display: flex;
  justify-content: center;
}