.image-dialog {
  @extend .overlay;

  transition: transform 300ms, opacity 300ms, background-color 400ms;
  transform: scale3d(0, 0, 1);

  opacity: 0;

  > main {
    text-align: center;
  }

  img {
    max-width: 100%;
    opacity: 0;
    transition: opacity 200ms;
  }

  .close-button {
    visibility: hidden;
  }

  &.active {
    background-color: #ccc;

    img {
      opacity: 1;
    }

    .close-button {
      visibility: visible;
    }
  }
}

.active.thumbnail + .image-dialog {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.thumbnail.button {
  @extend .scale-button;

  background: $color-background-message none center;
  border-radius: 1/8 * $module;
  cursor: zoom-in;
  display: inline-block;
  margin: 0.25 * $module 0.25 * $module 0 0;
  opacity: 1;
  vertical-align: bottom;

  width: 8 * $module;
  height: 6 * $module;

  @media (max-width: 640px) {
    width: 6 * $module;
    height: 4.5 * $module;
  }

  &:hover {
    background-color: $color-background-message;
  }

  &.active {
    opacity: 0;
  }
}