.image-dialog {
  @extend .overlay;

  transition: transform 300ms, opacity 300ms, background-color 400ms;
  transform: scale3d(0, 0, 1);

  opacity: 0;

  > main {
    text-align: center;
  }

  img {
    max-width: 100%;
    opacity: 0;
    transition: opacity 200ms;
  }

  &.active {
    background-color: #333;

    img {
      opacity: 1;
    }
  }
}

.active.thumbnail + .image-dialog {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.thumbnail.button {
  @extend .scale-button;

  cursor: zoom-in;
  opacity: 1;

  &.active {
    opacity: 0;
  }
}