html, body {
  height: 100%;
  width: 100%;

  font-size: $base-font-size;
}

h1, p {
  margin: 0;
}

a {
  color: $color-link;
  text-decoration: none;
}

a, button, .button {
  touch-action: manipulation;
}

body {

  font-family: $base-font-family;
  line-height: $module;

  background: $color-background;
  color: $color-text;

  margin: 0;
  padding: 0;
}

small {
  font-size: $font-size-small;
}

.content {
  display: flex;
  flex-direction: column;

  position: fixed;
  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  transition: transform 300ms $animation-curve;

  &.dialog {
    @media (min-width: $small-screen-threshold + 1px) {
      //transform: translate3d($module, 0, 0);

      > main > header {
        flex-basis: 25vw;
      }
    }
  }

  &.loading > main > header .button {
    visibility: hidden;
  }

  &.moved {
    @media (max-width: $small-screen-threshold) {
      transform: translate3d(75%, 0, 0);
    }
  }

  > main {
    background-color: $color-background;
    display: flex;

    overflow: hidden;

    height: 100%;

    @media (max-width: $small-screen-threshold) {
      flex-direction: column;
      box-shadow: 0 0 0.25 * $module rgba(black, 0.1);
    }

    > header {
      display: flex;
      flex-direction: column;
      flex: 0 0 2.5 * $module;

      transition: flex 300ms $animation-curve;

      &.show-menus div span {

      }

      div {
        display: flex;
        justify-content: space-between;

        span {
          display: flex;
          flex: 0 0 2.5 * $module;

          text-align: center;

          transition: transform 300ms $animation-curve;

          &.conversation-name {
            flex: 0 1 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            font-weight: bold;
            color: #666;
            background-color: #e6e6e6;
            //background-image: url("/images/conversations/stuha.svg");

            text-shadow: 1px 1px #e6e6e6, -1px 1px #e6e6e6, 1px -1px #e6e6e6, -1px -1px #e6e6e6;

            font-size: $font-size-small;
            line-height: 3 * $module-quarter;
          }

          &.hide-for-large {
            @extend .hide-for-large;
          }

          &.hide-for-small {
            @extend .hide-for-small;
          }

          > .button {
            width: 100%;
          }

        }
      }
    }

    > aside {
      flex: 0 0 25vw;

      display: flex;
      flex-direction: column;

      background-color: #e6e6e6;

      transform: translate3d(0, 0, 0);

      z-index: 11;

      @media (max-width: $small-screen-threshold) {
        position: absolute;
        height: 100%;
        margin-left: -75%;
        width: 75%;
      }

      > section {
        @extend .overflow-auto;

        flex: 1 1 2.5 * $module;

        display: flex;
        flex-direction: column;
        //justify-content: flex-start;

        //height: 100%;

        position: relative;

        box-shadow: 0 0 rgba(black, 0);
      }

      > div {
        flex: 0 0 2.5 * $module;

        display: flex;
        justify-content: flex-start;
      }

      > footer {
        flex: 0 0 2.5 * $module;

        display: flex;
        justify-content: space-between;

        background-color: #e3e3e3;
      }
    }

    > section {
      @extend .overflow-auto;

      position: relative;

      @media (min-width: $small-screen-threshold + 1px) {
        flex: 0 1 calc(75vw - #{2.5 * $module});
      }
    }
  }

}