html, body {
  height: 100%;
  width: 100%;
}

h1, p {
  margin: 0;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $module;

  background: $color-background-message;
  color: $color-text;

  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;

  position: fixed;
  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  transition: left 300ms ease-in-out;

  > header {
    display: none;
  }

  @media (max-width: 960px) {
    > header {
      flex: 0 0 2.5 * $module;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: white;
      box-shadow: 0 0 0.5 * $module rgba(black, 0.2);

      width: 100%;
      z-index: 2;



      > span {
        flex-grow: 1;

        color: #666;
        line-height: $module;
        padding: 0 0.5 * $module;
        text-align: center;

        &.menu-button {
          flex: 0 0 2.5 * $module;
          padding: 0;

          .button {
            background-color: transparent;
            color: #666;
          }
        }

        &.add-button {
          flex: 0 0 3 * $module;
          padding: 0;
        }
      }

    }

    &.moved {
      left: 60%;
    }

    > nav {
      position: fixed;
    }
  }

  @media (max-width: 360px) {
    &.moved {
      left: 9 * $module;
    }
  }

  > main {
    flex-grow: 1;

    background-color: $color-background;
    display: flex;

    overflow: hidden;
    width: 100%;

    box-shadow: 0 0 0.25 * $module #ccc;

    > section {
      @extend .overflow-auto;

      flex-grow: 1;



      padding-left: 2 * $module;
      padding-right: 2 * $module;

      @media (max-width: 960px) {
        padding-left: 0.5 * $module;
        padding-right: 0.5 * $module;
      }

      > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
      }
    }
  }

}