html, body {
  height: 100%;
  width: 100%;

  font-size: $base-font-size;
}

h1, p {
  margin: 0;
}

a {
  color: $color-link;
  text-decoration: none;
}

a, button, .button {
  touch-action: manipulation;
}

body {

  font-family: $base-font-family;
  line-height: $module;

  background: $color-background;
  color: $color-text;

  margin: 0;
  padding: 0;
}

small {
  font-size: 13px;
}

.content {
  display: flex;
  flex-direction: column;

  position: fixed;
  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  transition: transform 300ms $animation-curve;

  &.swiping {
    transition: initial;
  }

  &.dialog {
    @media (min-width: $small-screen-threshold + 1px) {
      //transform: translate3d($module, 0, 0);

      > main > header {
        flex-basis: 25vw;
      }
    }
  }

  &.loading > main > header .button {
    visibility: hidden;
  }

  &.moved {
    @media (max-width: $small-screen-threshold) {
      transform: translate3d(75%, 0, 0);
    }
  }

  > main {
    background-color: $color-background;
    display: flex;

    overflow: hidden;

    height: 100%;

    @media (max-width: $small-screen-threshold) {
      flex-direction: column;
      box-shadow: 0 0 0.25 * $module rgba(black, 0.1);
    }

    > header {
      display: flex;
      flex-direction: column;
      flex: 0 0 4 * $module;

      transition: flex 300ms $animation-curve;

      @media (min-width: $small-screen-threshold + 1) {
        flex: 0 0 2.5 * $module;
      }

      div {
        display: flex;
        justify-content: space-between;

        @media (min-width: $small-screen-threshold + 1) {
          flex-direction: column;

          &.conversation-name {
            display: none;
          }
          span.conversation {
            order: 3
          }
          span.update {
            order: 1;
          }
          span.add-button {
            order: 2;
          }
        }

        span {
          display: flex;
          flex: 0 0 2.5 * $module;

          color: #999;
          font-size: 12px;
          text-align: center;

          &.update {
            display: none;
          }

          &.conversation-name {
            flex: 0 1 100%;
            height: auto;
            min-height: 1.5 * $module;
            justify-content: center;
            align-items: center;
          }

          &.hide-for-large {
            @extend .hide-for-large;
          }

          > .button {
            width: 100%;
          }

        }
      }
    }

    > aside {
      flex: 0 0 25vw;

      display: flex;
      flex-direction: column;

      background-color: #e6e6e6;

      transform: translate3d(0, 0, 0);

      z-index: 11;

      @media (max-width: $small-screen-threshold) {
        position: absolute;
        height: 100%;
        margin-left: -75%;
        width: 75%;
      }

      > header {
        flex: 0 0 2.5 * $module;

        display: flex;

        @media (max-width: $small-screen-threshold) {
          display: none;
        }
      }

      > section {
        @extend .overflow-auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        position: relative;

        box-shadow: 0 0 rgba(black, 0);
      }

      > footer {
        flex: 0 0 2.5 * $module;

        display: flex;
        justify-content: flex-end;

        a {
          width: 2.5 * $module;
        }
      }
    }

    > section {
      @extend .overflow-auto;

      position: relative;

      @media (min-width: $small-screen-threshold + 1px) {
        flex: 0 1 calc(75vw - #{2.5 * $module});
      }
    }
  }

}