.login {
  display: flex;
  flex-direction: column;

  justify-content: center;

  min-height: 14 * $module;

  > form {
    margin-left: auto;
    margin-right: auto;
    max-width: 14 * $module;
    width: 100%;
  }

  p {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    margin: 0 0 .75 * $module;

    label {
      color: #666;
      font-size: 12px;
    }

    input,button {
      width: 100%;
    }

    > span {
      display: flex;
    }

  }

  .button {
    border-radius: 0.125 * $module;
  }
}