#login {

  @media (max-width: $small-screen-threshold) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  min-height: 14 * $module;

  > form {
    margin-left: auto;
    margin-right: auto;
    max-width: 14 * $module;
    width: 100%;

    @media (min-width: $small-screen-threshold + 1) {
      margin-top: 7 * $module;
    }

    p {
      margin-top: 0.5 * $module;
    }

    label {
      color: #666;
    }

    input, button {
      width: 100%;

      &[type=checkbox] {
        vertical-align: bottom;
        width: auto;
      }
    }

    span {
      display: flex;
    }

  }

  .button {
    border-radius: 0.125 * $module;
  }
}

.login-dialog {
  @extend .overlay;

  transition: transform 300ms ease-out, opacity 300ms ease-in-out, background-color 500ms ease-out;
  transform: translate3d(0, -100%, 0);

  opacity: 0;

  &.active {
    background-color: #f0f0f0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}