.message-dialog {
  @extend .overlay;

  transition: transform 300ms $animation-curve, opacity 300ms, background-color 300ms ease-out;
  transform: translate3d(-100%, 0, 0);

  opacity: 0;
  width: calc(25vw + #{2.5 * $module});

  z-index: 500;

  border-right: 1px solid #e5e5e5;

  @media (max-width: $small-screen-threshold) {
    background-color: #e0e0e0;

    width: 100%;
    transform: scale3d(0, 0, 1);
    transform-origin: top right;
  }

  &.active {
    background-color: #e6e6e6;

    opacity: 1;
    transform: translate3d(0, 0, 0);

    @media (max-width: $small-screen-threshold) {
      transform: scale3d(1, 1, 1);
    }
  }

  > form {
    margin: 0 auto;
    max-width: 30 * $module;

    &#images {
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;

      & > * {
        visibility: hidden;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        border-radius: 1.25 * $module;
        height: 2.5 * $module;
        margin: $module-half;
        text-align: center;
        width: 2.5 * $module;

        transition: background-color 400ms, box-shadow 100ms, transform 1s ease-in-out, opacity 2s ease-in-out;

        &:hover {
          background-color: white;
        }

        &.active {
          box-shadow: 0 0 0 $module-half rgba(black, 0.2) inset;
        }

        &.hidden {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

    .buttons {
      margin: 0 -1 * $module-half;
      padding: 0;
      list-style: none;

      li {
        margin: $module-half;
        width: 2.5 * $module;

        &.gps {
          background-image: url("/images/gps-icon.svg");
        }

        &.image {
          background-image: url("/images/image-icon.svg");

          input {
            visibility: hidden;
            position: absolute;
          }
        }

        label {
          cursor: pointer;
          height: 100%;
          width: 100%;
        }
      }
    }

    .thumbnails {
      display: none;
      justify-content: flex-start;
      flex-wrap: wrap;

      margin: 0 $module-half * -1;
      padding: 0;
      list-style: none;

      &.active {
        display: flex;
      }

      li {
        background-color: $color-background-message;
        background-position: center;
        background-repeat: no-repeat;

        margin: $module-half;
        position: relative;

        width: 8 * $module;
        height: 6 * $module;

        overflow: hidden;
        text-align: center;

        img {
          max-height: 240px;
          max-width: 240px;
          display: inline;
        }

        .close-button {
          position: absolute;
          right: 0;

          .button {
            height: 2 * $module;
            width: 2 * $module;
          }
        }

        @media (max-width: 640px) {
          width: 6 * $module;
          height: 4.5 * $module;
        }
      }
    }
  }
}
