.messages > div {
  margin-left: auto;
  margin-right: auto;
  max-width: $small-screen-threshold;

  transition: opacity 600ms;

  &.loading {
    opacity: 0;
  }

  &:first-child {
    margin-top: 2 * $module;

    @media (max-width: $small-screen-threshold) {
      margin-top: 1.5 * $module;
    }
  }

  & + .hide-when-second {
    transition: opacity 2s ease-out;
    opacity: 0;
  }

  > article, > div {
    margin-left: 0.5 * $module;
    margin-right: 0.5 * $module;
  }
}

article {
  display: flex;
  align-items: center;

  margin-bottom: 0.75 * $module;
  position: relative;

  a {
    border-bottom: 1px solid rgba($color-link, 0.25);
    transition: border-color 300ms;

    &:hover {
      border-bottom-color: $color-link;
    }
  }

  > header {
    flex: 0 0 3.5 * $module;
    padding-bottom: $module;

    transition: opacity 600ms;

    @media (max-width: $small-screen-threshold) {
      flex: 0 0 3 * $module;
    }

    .icon {
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      border-radius: 50%;
      height: 2.5 * $module;
      margin-right: $module;
      text-align: center;
      width: 2.5 * $module;

      @media (max-width: $small-screen-threshold) {
        margin-right: $module-half;
      }

      &:hover {
        background-color: white;
      }

      &.active {
        box-shadow: 0 0 0 0.5 * $module rgba(black, 0.2) inset;
      }
    }
  }

  > main {
    margin-right: 5 * $module;

    max-width: calc(100% - #{3.5 * $module});;

    @media (max-width: $small-screen-threshold) {
      margin-right: 0;
      max-width: calc(100% - #{3 * $module});;
    }

    > section {
      > p {

        &.plain-text {
          background: $color-background-message;
          border-radius: 0 $border-radius-message $border-radius-message 0;
          padding: $module-half 0.75 * $module;

          display: inline-block;
          text-align: left;
        }

        &.replyTo {
          transition: transform 300ms $animation-curve, max-height 300ms 300ms;
          transform: scale3d(1, 1, 1);

          &.opened {
            transform: scale3d(0, 0, 1);
            max-height: 0;
          }

          > a {
            cursor: pointer;
            border-bottom: 0 none;
            border-radius: 0 $border-radius-message $border-radius-message 0;
            background-color: #d6d6d6;
            color: #666;
            display: inline-block;
            height: auto;
            outline: 0 none;
            padding: $module-quarter 0.75 * $module $module-quarter $module-quarter;

            transition: background-color 300ms, box-shadow 100ms;

            //max-width: calc(100% - #{1.7501 * $module});

            &:hover {
              background-color: #d0d0d0;
            }

            &.clicked {
              box-shadow: 0 0 0 $module-half rgba(black, 0.1) inset;
            }

            .replyToIcon {
              background: white no-repeat center;
              background-size: 60%;
              border-radius: $module;

              display: inline-block;
              vertical-align: middle;

              height: 1.5 * $module;
              width: 1.5 * $module;
            }

            .caption {
              display: inline-block;
              margin-left: $module-quarter;

              vertical-align: middle;

              //overflow: hidden;
              //white-space: pre;
              //text-overflow: ellipsis;
              //
              //max-width: calc(100% - #{1.7501 * $module});
              //
              //transition: border-color 300ms;

              //&:hover {
              //  border-bottom-color: $color-text;
              //}
            }
          }
        }

        &:first-child, &.replyTo:first-child a {
          border-top-left-radius: $border-radius-message;
        }
        &:last-child, &.replyTo:last-child a {
          border-bottom-left-radius: $border-radius-message;
        }
        &:first-child:last-child, &.replyTo:first-child:last-child a {
          border-top-left-radius: 0;
        }
      }

      p + p {
        margin-top: 0.125 * $module;
      }
    }

    footer {
      color: $color-text-secondary;
      font-size: 11px;
      height: $module;
      text-align: right;
    }
  }

  &.my {
    flex-direction: row-reverse;

    > main {
      margin-left: 5 * $module;
      margin-right: 0;

      @media (max-width: $small-screen-threshold) {
        margin-left: 0;
      }

      > section {
        text-align: right;

        > p {
          border-radius: $border-radius-message 0 0 $border-radius-message;
          background-color: $color-background-my-message;
          color: $color-text-my-message;

          &.replyTo {
            background-color: transparent;

            > a {
              border-radius: $border-radius-message 0 0 $border-radius-message;
            }
          }

          &:first-child, &.replyTo:first-child a {
            border-top-right-radius: $border-radius-message;
          }
          &:last-child, &.replyTo:last-child a {
            border-bottom-right-radius: $border-radius-message;
          }
          &:first-child:last-child, &.replyTo:first-child:last-child a {
            border-radius: $border-radius-message 0 $border-radius-message $border-radius-message;
          }
        }
      }
    }

    > header > .icon {
      margin: 0 0 0 $module;

      @media (max-width: $small-screen-threshold) {
        margin-left: $module-half;
      }
    }
  }

  &.replyTo {
    transition: transform 300ms $animation-curve;
    transform: scale3d(1, 1, 1);

    > main > section > article.replyTo {
      margin-left: -3.5 * $module;

      @media (max-width: $small-screen-threshold) {
        margin-left: -3 * $module;
      }
    }
    margin-bottom: $module-quarter;

    &.progress {
      transform: scale3d(0, 0, 1);
    }

    .icon.clicked {
      box-shadow: 0.125 * $module 0.25 * $module 0.125 * $module rgba(0, 0, 0, 0.1), 0 0 0 0.5 * $module rgba(black, 0.5) inset;
    }

    > header {
      padding: 0;
    }

    > main {
      footer {
        display: none;
      }
    }
  }

  &.openedReplyTo {
    > header {
      opacity: 0;
    }
  }

  &.bot {
    header {
      padding-bottom: 0;
    }
    section {
      p.plain-text {
        background-color: transparent;
        box-shadow: 0 0 0 1px #999 inset;
        color: #666;
      }
    }
  }

  &.placeholder {
    p {
      height: $module;
      width: 3 * $module;
    }
  }
}

article.my > main > section > article.replyTo {
  margin-left: 0;
  margin-right: -3.5 * $module;

  @media (max-width: $small-screen-threshold) {
    margin-right: -3 * $module;
  }
}

.seperator {
  margin-bottom: 1.75 * $module;
  position: relative;
  text-align: center;
  z-index: 2;

  span {
    background-color: $color-background;
    color: $color-text-secondary;

    font-size: 13px;
    padding: 0 $module;

  }

  &:before {
    border-bottom: 1px solid $color-line;
    content: "";
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
  }
}

.replyToWrapper {
  transition: transform 300ms $animation-curve;
  transform: scale3d(1, 1, 1);

  display: flex;
  flex-direction: column;

  background-color: #e9e9e9;

  margin-left: -3.5 * $module;
  margin-bottom: $module-quarter;

  @media (max-width: $small-screen-threshold) {
    margin-left: -3 * $module;
  }

  &.progress {
    transform: scale3d(0, 0, 1);
  }

  article > main {
    margin-left: 0;
    margin-right: 0;

    > section > p:not(.replyTo) {
      box-shadow: 0 0 $module-quarter / 2 $color-background;
    }
    > section > p.replyTo a {
      box-shadow: 0 0 $module-quarter / 2 $color-background;
    }

  }

  > .close-button {
    display: flex;
    justify-content: flex-end;

    margin: 0 0 $module-quarter;

    .button {
      border: 0 none;

      height: 2 * $module;
      width: 2 * $module;
    }
  }
}

article.my {
  .replyToWrapper {
    align-items: flex-end;

    margin-left: 0;
    margin-right: -3.5 * $module;

    @media (max-width: $small-screen-threshold) {
      margin-right: -3 * $module;
    }
  }
}

.load-more {
  visibility: hidden;
  padding: $module 0 0;

  &.active {
    visibility: visible;
  }
}

.thumbnails + .formatted {
  margin-top: $module-quarter;
}