.message-dialog {
  @extend .overlay;
  background-color: #ececec;

  transition: transform 300ms $animation-curve, opacity 300ms, background-color 300ms ease-out;
  transform: translate3d(100%, 0, 0);

  opacity: 0;
  width: 30%;

  z-index: 500;

  border-left: 1px solid #e5e5e5;

  @media (max-width: $small-screen-threshold) {
    background-color: $color-background-button;

    width: 100%;
    transform: scale3d(0, 0, 1);
    transform-origin: top right;
  }

  &.active {
    background-color: #ececec;

    opacity: 1;
    transform: translate3d(0, 0, 0);

    @media (max-width: $small-screen-threshold) {
      transform: scale3d(1, 1, 1);
    }
  }

  > form {
    margin: 0 auto;
    max-width: 30 * $module;

    .icons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      margin: 0.25 * $module 0;
      padding: 0;
      list-style: none;

      li {
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        border-radius: 1.25 * $module;
        height: 2.5 * $module;
        margin: 0.5 * $module;
        text-align: center;
        width: 2.5 * $module;

        transition: background-color 400ms, box-shadow 100ms, transform 1s ease-in-out, opacity 2s ease-in-out;

        &:hover {
          background-color: white;
        }

        &.active {
          box-shadow: 0 0 0 0.5 * $module rgba(black, 0.2) inset;
        }

        &.hidden {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background-color: #e6e6e6;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;

        border-radius: 0.125 * $module;
        height: 3 * $module;
        margin: 0.25 * $module 0.25 * $module 0 0;
        width: 4 * $module;

        &.gps {
          background-image: url("/images/gps-icon.svg");
        }

        &.image {
          background-image: url("/images/image-icon.svg");

          input {
            display: none;
          }
        }
      }
    }

    .thumbnails {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background-color: $color-background-message;
        background-position: center;
        background-repeat: no-repeat;

        border-radius: 0.125 * $module;
        margin: 0.25 * $module 0.25 * $module 0 0;

        width: 8 * $module;
        height: 6 * $module;

        overflow: hidden;
        text-align: center;

        img {
          max-height: 240px;
          max-width: 240px;
          display: inline;
        }

        @media (max-width: 640px) {
          width: 6 * $module;
          height: 4.5 * $module;
        }
      }
    }

    .error .buttons li {
      background-color: transparent;
    }
  }
}
