.message-dialog {
  background-color: $color-background-button;
  height: 2.5 * $module;
  right: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 3.5 * $module;
  z-index: 3;

  transition: height 300ms ease-out, width 300ms ease-out, background-color 300ms;

  &.active {
    background-color: $color-background;
    height: 100%;
    overflow: auto;
    width: 100%;

    > form {
      opacity: 1;
    }
  }

  > header {
    display: flex;

    > span {
      flex-grow: 1;

      &.close_button {
        flex: 0 0 3.5 * $module;

        padding: 0;

        > .button {
          background-color: #999;

          &:hover {
            background-color: #6C6C6C;
          }
        }
      }
    }
  }

  > form {

    ul {
      display: flex;
      justify-content: center;

      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background-color: white;
        border-radius: 1.25 * $module;
        height: 2.5 * $module;
        margin: 0.5 * $module;
        text-align: center;
        width: 2.5 * $module;

        &:hover {
          background-color: white;
        }
      }
    }

    opacity: 0;
    padding: 0.5 * $module;

    transition: opacity 300ms;

    textarea {
      border: 0 none;
      font-family: $base-font-family;
      font-size: $base-font-size;
      margin: 0;
      padding: 0.5 * $module;
      width: calc(100% - #{$module});
    }
  }
}