body > main > aside {
  flex: 1 1 25%;

  display: flex;
  flex-direction: column;

  background-color: white;
  border-right: 1px solid $color-line;

  @media (max-width: 960px) {
    display: none;
  }

  > header {
    flex: 0 0 2.5 * $module;

    display: flex;

    border-bottom: 1px solid $color-line;
  }

  > section {
    @extend .overflow-auto;

    box-shadow: 0 0 rgba(black, 0);
    transform: scale(.85);
  }
}