$base-font-size: 14px; //calc(13px + .25vw + .05vh);
$module: 1.4rem;

$color-background: #F6F6F6;
$color-background-message: #E8E8E8;
$color-background-my-message: #BAEAFD;

$color-line: #E5E5E5;

$color-text: #222;
$color-link: #215B80;
$color-text-my-message: #106097;
$color-text-secondary: #bbb;

html, body {
  height: 100%;
}

body {
  font-size: $base-font-size;
  font-family: Ubuntu, sans-serif;
  line-height: $module;

  background: $color-background;
  color: $color-text;

  margin: 0;
  padding: 0;
}

body > main {
  display: flex;
  min-height: 100%;
}

body > main > aside {
  flex: 1 1 25%;

  background-color: white;
  border-right: 1px solid $color-line;
  //box-shadow: 1px 1px 2px #e0e0e0;

  @media (max-width: 960px) {
    display: none;
  }
}

body > main > section {
  flex: 1 1 75%;

  padding: 0 2 * $module;

  @media (max-width: 960px) {
    padding: 0 .5 * $module;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
}

h1 {
  margin: 0;
}

article {
  display: flex;
  align-items: center;

  margin-bottom: 1.75 * $module;

  &:first-child {
    margin-top: 1.75 * $module;
  }

  header {
    flex: 0 0 3.5 * $module;

    h1 {
      background-color: white;
      border-radius: 1.25 * $module;
      height: 2.5 * $module;
      margin-right: $module;
      text-align: center;
      width: 2.5 * $module;

      img {
        margin-top: 12px;
      }
    }
  }

  main {
    background: $color-background-message;
    border-radius: $module / 4;
    display: inline-block;
    padding: $module / 2 $module * 0.75;
    position: relative;

    p {
      margin: 0;
    }

    footer {
      color: $color-text-secondary;
      font-size: 11px;
      position: absolute;
      right: $module / 4;
      bottom: -$module * 1.1;
    }
  }

  &.my {
    flex-direction: row-reverse;

    h1 {
      margin: 0 0 0 $module;
    }

    main {
      background-color: $color-background-my-message;
      color: $color-text-my-message;
    }
  }
}

.seperator {
  margin-bottom: 1.75 * $module;
  position: relative;
  text-align: center;

  span {
    background-color: $color-background;
    color: $color-text-secondary;

    font-size: 13px;
    padding: 0 $module;

  }

  &:before {
    border-bottom: 1px solid $color-line;
    content: "";
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
  }
}