$base-font-size: 14px; //calc(13px + .25vw + .05vh);
$module: 1.618rem;

$color-background: #F6F6F6;
$color-background-message: #E8E8E8;
$color-background-my-message: #BAEAFD;
$color-background-button: #639;
$color-background-error: #f33;

$color-line: #E5E5E5;

$color-text: #222;
$color-link: #215B80;
$color-text-my-message: #106097;
$color-text-secondary: #999;

$base-font-family: Arial, sans-serif;

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

aside, header, main, section {
  display: block;
}

@import "layout";
@import "button";
@import "form";

@import "menu";
@import "dialog";
@import "message-dialog";
@import "image-dialog";

@import "message";
@import "side-panel";

@import "login";
