$base-font-size: calc(13px + .25vw + .05vh);
$module: 1.618rem;

$color-background: #4C4F4D;

$color-text: #404040;
$color-link: #215B80;

body {
  font-size: $base-font-size;
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: $module;

  background: $color-background;
  color: $color-text;

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
  font-weight: normal;
  margin: 0;
}

a {
  color: #ccc;
  padding-bottom: 3px;
  text-decoration: none;
}

p {
  margin: .809rem 0;
}

pre {
  background-color: #414343;
  padding: calc(1.618rem * 0.5);
  margin: calc(1.618rem * 0.5) 0;

  max-width: 100%;
  overflow: auto;
}

code {
  background-color: #414343;
  padding: 3px;
}

pre code {
  padding: 0;
}

img {
  max-width: 100%;
}

small {
  font-size: 14px;
}

.logo img {
  height: calc(1.5 * 1.618rem);
}

footer {
  padding: 3.3rem .809rem;
  text-align: center;
}

body > header {
  display: flex;
  justify-content: space-between;
}

body > header > * {
  flex: 0 1 30rem;
  margin: .809rem;
}

#home main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //max-width: 54rem;
  //margin: 0 auto;

  & > article {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    flex: 1 1 12 * $module;

    margin: .809rem;

    & > * {
      background-color: white;
      box-shadow: .25 * $module .25 * $module 0 rgba(0, 0, 0, .2);
      cursor: pointer;

      transition: box-shadow 400ms ease-out;

    }

    &:hover > * {
      box-shadow: 2 * $module 2 * $module 0 rgba(0, 0, 0, .2);
    }

    & > header {
      display: flex;
      flex-direction: column-reverse;

      & > h2 {
        flex-grow: 1;

        color: $color-link;
        font-size: 1.25em;
        text-align: center;

        margin: 0;
        padding: .5 * $module;
      }

      > .image {
        flex: 0 0 6 * $module;
        display: flex;
        flex-direction: column;

        background-position: center;

        small {
          background-color: rgba(100, 150, 200, .2);
          font-weight: 600;
          mix-blend-mode: color-dodge;
        }
      }

      small {
        flex: 0 0 2 * $module;

        color: #6C6A68;
        text-align: center;

        padding: .5 * $module 0;
      }
    }

    p {

      margin: 0;
      padding: $module;
    }
  }
}

#article > article {
  max-width: 50rem;
  margin: 0 auto;

  padding: 0 .809rem 1.618rem;
}

#article > article > header {
  display: flex;
}

#article > article > header > h1 {
  flex: 1 0 1.618rem;
}

#article > article > header > small {
  flex: 0 0 2 * $module;

  color: #6C6A68;
}

#article > article a {
  border-bottom: 1px solid;
  padding-bottom: 2px;
}