form {
  margin: 0;
  padding: 0;

  > section {
    border-radius: 1.25 * $module;
    display: flex;
    flex-direction: column;

    margin: $module 0 $module-half;
    padding: 0 $module-half;

    > p > span {
      display: inline-block;

      background-color: $color-background-message;
      border-radius: $module 0 $module $module;
      padding: $module-half 3 * $module-quarter;

      margin-top: $module-quarter;
    }
  }

  > p {
    margin: $module-half;

    //position: relative;

    @media (max-width: $small-screen-threshold) {
      margin: 0.5 * $module;
    }
  }

  p, div {
    text-align: right;

    > span {
      display: flex;

      &.error {
        display: none;

        background-color: $color-background-message;
        border-radius: $module 0 $module $module;
        padding: $module-half 3 * $module-quarter;

        margin-top: $module-quarter;

        &.active {
          display: flex;
        }
      }
    }
  }

  .error {
    span.error {
      display: inline-block;
    }
  }

  section.error > p {
    span.error {
      border-radius: $module 0 $module $module;
    }
  }

  .error-message {
    opacity: 0;
    max-height: 0;
    margin: 0 $module-half;
    padding: $module-half 0.75 * $module;

    background-color: $color-background-message;
    border-radius: $module-half 0 $module-half $module-half;

    transition: opacity 300ms ease-in, max-height 300ms ease-out, margin 300ms ease-in-out;
  }

  &.show-errors .error-message {
    opacity: 1;
    max-height: 200px;
    margin-bottom: $module-half;
  }

}

input {
  background-color: white;
  border: 0 none;
  border-radius: 0;
  display: block;
  outline: 0 none;
  padding: $module-half;

  font-family: $base-font-family;
  font-size: $base-font-size;

  &[type=checkbox] {
    display: inline-block;
  }

  &[type=range] {
    cursor: pointer;

    background-color: transparent;
    width: 100%;
    //-webkit-appearance: none;
    //::-webkit-slider-thumb {
    //  -webkit-appearance: none;
    //}
    //
    //&::-moz-range-track {
    //  border-radius: 0;
    //  height: $module-quarter;
    //}
    //
    //&::-ms-track {
    //  width: 100%;
    //  cursor: pointer;
    //
    //  /* Hides the slider so custom styles can be added */
    //  background: transparent;
    //  border-color: transparent;
    //  color: transparent;
    //}
  }
}

textarea {
  @extend input;

  border-radius: $border-radius-message 0 $border-radius-message $border-radius-message;
  padding: $module-half 0.75 * $module;

  line-height: $module;

  height: 50px;

  transition: height 200ms;

  overflow-x: auto;
  overflow-y: hidden;

  box-sizing: border-box;

  resize: none;
}

.button-row {
  display: flex;
  justify-content: center;

  flex-direction: row;
}

#login .button-row {
  margin-top: $module;
}

label {
  display: flex;

  color: #666;
  font-size: $font-size-small;

  > input[type=checkbox] {
    opacity: 0;
    position: absolute;
    cursor: pointer;

    &:checked + .check-box {
      background-color: $color-background-button-secondary-active;

      > span {
        transform: translate(0.7 * $module, 0);
      }
    }
  }

  > span {
    vertical-align: middle;

    &.check-box {
      display: inline-block;

      background-color: $color-background-button-secondary;

      background-position: left center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-image: url("/img/check.svg");

      border-radius: $module-half;
      cursor: pointer;
      height: 0.9 * $module;
      margin-right: $module-half;
      text-align: left;
      width: 1.6 * $module;

      transition: background-color 200ms;

      > span {
        display: inline-block;

        background-color: white;

        border-radius: 50%;
        height: calc(#{0.9 * $module} - 4px);
        margin: 2px;
        width: calc(#{0.9 * $module} - 4px);

        transition: transform 300ms $animation-curve;
      }
    }
  }
}

ul.autocomplete {
  position: absolute;
  list-style: none;
  left: $module-half;
  top: 3.5 * $module;

  margin: 0;
  padding: 0;

  width: calc(100% - #{3 * $module});

  background-color: white;

  opacity: 0;
  transition: opacity 300ms;

  &.active {
    opacity: 1;
  }

  li {
    cursor: pointer;
    padding: $module-half;

    border-top: 1px dashed #e0e0e0;

    &:hover {
      background-color: #f6f6f6;
    }
  }
}