$base-font-size: calc(14px + 0.1vh + 0.1vw);
$font-size-small: 0.9rem;
$font-size-smaller: 0.75rem;

$module: 1.618rem;

$module-half: 0.809rem;
$module-quarter: 0.4045rem;

$color-background: #ececec;
$color-background-message: #dcdcdc;
$color-background-my-message: #a9E3F3;
$color-background-button: #639;
$color-background-button-secondary: #c6c6c6;
$color-background-button-secondary-active: #b9b9b9;
$color-background-error: #f33;

$color-line: #E5E5E5;

$color-text: #333;
$color-link: #09c;
$color-text-my-message: #256;
$color-text-secondary: #999;

$base-font-family: Arial, sans-serif;

$animation-curve: cubic-bezier(.65, -0.25, .25, 1.2);

$small-screen-threshold: 960px;

$border-radius-message: $module;

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

aside, header, main, section {
  display: block;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

@import "layout";
@import "button";
@import "form";

@import "dialog";
@import "../messages/message-dialog";
@import "../images/image-dialog";

@import "../messages/message";
@import "../conversations/conversation";

@import "../login/login";

@import "../user/user-dialog";
@import "../messages/ranicek-dialog";

@import "../user/change-password-dialog";

.hide-for-large {
  @media (min-width: $small-screen-threshold + 1) {
    display: none;
  }
}

.hide-for-small {
  @media (max-width: $small-screen-threshold) {
    display: none;
  }
}