<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Stuha</title>

    <meta name="msapplication-tap-highlight" content="no"/>


    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300normal,300italic,400normal,400italic,500normal,500italic,700normal,700italic&subset=all"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body id="home">

{{{contents}}}

</body>
</html>